@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar-thumb-cyan-500\/20::-webkit-scrollbar-thumb {
    background-color: rgba(6, 182, 212, 0.2);
    border-radius: 3px;
  }
  
  .scrollbar-track-transparent::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
